body {
	height: 100%;
}

#filePresenterContainer
{
    /*position: fixed;*/
    /*left: 0;*/
    width: 200px;
    display: inline-block;
}

.tableRow:hover
{
	background-color: darkgray;
}

.menuItem
{
	height: 100px;
	line-height: 100px;
	vertical-align: center;
	text-align: center;
}

.menuItem:hover
{
	background-color: #EDEDED;
}

.menuItem.active
{
	background-color: #D9D9D9;
}

.centerContainer
{
    position: absolute;
    top: 25px;
    bottom: 0;
    display: inline-block;
	border-radius: 6px;
    width: calc(100% - 600px);
}

.rightContainer
{
    position: absolute;
    top:25px;
    bottom: 0;
    width: 400px;
    right: 0;
}

.topBar
{
    position: absolute;
    top: 0;
    height: 25px;
    display: inline-block;
	width: calc(100% - 600px);
}

.topLeft
{
	position: absolute;
	left: 0;
	width: 250px;
}


.topRight
{
	position: absolute;
	right: 0;
	width: 250px;
}

.fileLoaderContainer
{
	position: relative;
    top: 0;
    bottom: 0;
	text-align: left;
	font-family: sans-serif;
	height: 100%;
}

.dashed
{
	border: 5px dashed #CCC;
}

.fileLoaderContainer.hover{
	color:#8dd0ff;
	border-color:#8dd0ff;
}