<div>
    <table ng-table="tableParams" class="table">
       
       
        <!--<tr ng-click="moveBack()" ng-class="{tableRow : true}"
            ng-if="!isRoot">
            <td data-title="'Name'" sortable="name">...</td>
            <td data-title="'Type'">true</td>
            <td data-title="'Errors'"></td>
        </tr>-->

        <tr ng-repeat="rule in $data">
            <td data-title="'Rule Name'">{{rule.name}}</td>
            <td data-title="'Definition'">{{rule.params}}</td>
        </tr>
        
        <tr>
            <td data-title="'Rule Name'">
               <div ng-if="!addingRule" >
                   <!--<button ng-click="newRule()">+</button>-->
                   <select ng-model="sRule" ng-options="rule as rule.name for rule in rules" ng-change="updateParams(sRule)"></select>
                   
                   <button ng-click="applyR()">+</button>
               </div>
               <!--<select ng-model="ruleChooser"></select>-->
            </td>
            <td >
            	<input ng-repeat="param in rParams" type="text" ng-model="sParams[$index]" placeholder="{{param}}">
            </td>
            <td data-title="'Definition'"></td>
        </tr>
    </table>
    
</div>