<div>
    <table ng-table="tableParams" class="table">
       
       
        <!--<tr ng-click="moveBack()" ng-class="{tableRow : true}"
            ng-if="!isRoot">
            <td data-title="'Name'" sortable="name">...</td>
            <td data-title="'Type'">true</td>
            <td data-title="'Errors'"></td>
        </tr>-->

        <tr ng-repeat="rule in $data">
            <td data-title="'Rule Name'">{{rule}}</td>
            <td data-title="'Definition'">{{rule}}</td>
        </tr>
        
        <tr>
            <td data-title="'Rule Name'">
               <div ng-if="!addingRule" >
                   <!--<button ng-click="newRule()">+</button>-->
                   <button ng-click="applyR(ruleChooser[0])">+</button>
               </div>
               <!--<select ng-model="ruleChooser"></select>-->
            </td>
            <td data-title="'Definition'"></td>
        </tr>
    </table>
    
</div>