<div class="centerContainer">
	<div ng-hide="contents[0]" ng-class="{fileLoaderContainer : true, dashed : localEmpty, hover : loaderOver }">
		{{message}}
		<div ng-hide="!localEmpty">
		
		</div>
		<div ng-hide="localEmpty">
			<table ng-table="tableParams" class="table">
				<tr ng-click="moveBack()" ng-class="{tableRow : true}"
					ng-if="!isRoot">
					<td data-title="'Name'" sortable="name">...</td>
					<td data-title="'Type'">true</td>
				</tr>
				
				<tr ng-repeat="file in $data" ng-click="move($index)" ng-class="{tableRow : true}">
                        <td data-title="'Name'" sortable="name">{{file.name}}</td>
                        <td data-title="'Type'">{{file.dir}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-hide="contents[1]">
		<table ng-table class="table">
			<tr ng-repeat="file in serverFiles">
				<td data-title="'Name'">{{file.name}}</td>
			</tr>
		</table>
	</div>
	
</div>