<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="css/style.css">
	
	<!-- include: "basePath" : "css/", "baseUrl" : "css/" ,"type" : "css", "files" : "./**/*.css" -->
	<!-- include: "basePath" : "js/resources/", "baseUrl" : "js/resources/" ,"type" : "css", "files" : "./**/*.css" -->
	
</head>
<body ng-app="app">
    <div class="container-fluid">
        <div class="row" style="height:100%;">
          <center-view></center-view>
           <!-- -->
        </div>
    </div>
<!-- include: "basePath" : "js/resources/includeFirst/","baseUrl" : "js/resources/includeFirst/" , "type" : "js", "files" : "jquery.min.js" -->
<!-- include: "basePath" : "js/resources/includeFirst/","baseUrl" : "js/resources/includeFirst/" , "type" : "js", "files" : "jquery-ui.*.js" -->
<!-- include: "basePath" : "js/resources/includeFirst/","baseUrl" : "js/resources/includeFirst/" , "type" : "js", "files" : "angular.*.js" -->
<!-- include: "basePath" : "js/ui/","baseUrl" : "js/ui/" , "type" : "js", "files" : "app.js" -->
    
    
<!-- include: "basePath" : "js/resources/","baseUrl" : "js/resources/" , "type" : "js", "files" : "*.js" -->

<!-- include: "basePath" : "js/ui/", "baseUrl" : "js/ui/" , "type" : "js", "files" : "./**/*.js" -->
    
</body>

</html>